<app-content-link></app-content-link>

<div id="formcss">
    <mat-form-field> 
    <label>ID (for updating):<input matInput type="number" [(ngModel)]="contentItem.id"></label>
    </mat-form-field><br>
    <mat-form-field> 
    <label>Name:<input matInput [(ngModel)]="contentItem.title"></label>
</mat-form-field><br>
<mat-form-field >
    <label>Type:<input matInput [(ngModel)]="contentItem.type"></label>
</mat-form-field><br>
<mat-form-field>
    <label>Image URL:<input matInput [(ngModel)]="contentItem.imageLink"></label>
</mat-form-field><br>
<mat-form-field>
    <label>Body:<textarea matInput [(ngModel)]="contentItem.body"></textarea></label>
</mat-form-field><br>
<mat-form-field>
    <label>Tags:<input matInput [(ngModel)]="tempTags"></label>
</mat-form-field><br>

    <button mat-raised-button (click)="+(contentItem.id || 'falsy') ? updateContentOnServer(): addContentToServer() ">Add new content</button><br>
</div>