<div class="card">
    <header>
        <div class="title" appHighlightTitle="clickeffect">{{ travelItem ? travelItem.title : "" }}
            <a [routerLink]="['/detail', travelItem?.id ?? 0]" routerLinkActive="active">
                {{ travelItem ? travelItem.title : "" }}
              </a>
        </div><br>
    </header>


    <img (click)="printConsole()" *ngIf="travelItem?.imageLink" class="image" [src]="travelItem?.imageLink">
    <img (click)="printConsole()" *ngIf="!travelItem?.imageLink" class="image"
    src="https://bitsofco.de/content/images/2018/12/broken-1.png"> <!-- default image --><br>

    <div class="type" appHighlightImportantData = "bordermaker">{{ travelItem ? travelItem.type : "" }}</div><br>

</div>


