:host{
    margin: 0 auto;
    *{
        text-align: center;
    }
    .greentext{
        color: green;
    }
    .redtext{
        color: red;
    }
    .adventure{
        font-size: large;
        color: rgb(14, 63, 2);
        background-color: rgb(114, 109, 109);
        

    }
    .honeymoon{
        font-size: large;
        color: rgb(59, 13, 13);;
        background-color: rgb(72, 99, 72);
    }
}