<h1>{{title}}</h1>
<app-content-link></app-content-link>
<div>
    <input #titleValue>
    <button (click)="updatePage(titleValue.value)">Submit</button>
    <p class="greentext" *ngIf="itsAvailable">{{ itsAvailable }}</p>
    <p class="redtext" *ngIf="itsNotAvailable">{{ itsNotAvailable }}</p>
   
</div>

<!-- 
<app-content-card *ngFor = "let item of travelList; index as i; even as isEven"
[travelItem] = "item"  [class.even]="isEven">
</app-content-card> -->
<app-content-card *ngIf="singleTravel" [travelItem]="singleTravel" [class.singleTravel] = "singleTravel" > </app-content-card>


<h2>Adventure Tour</h2>
<app-content-card *ngFor = "let item of (travelList | traveltype:'adventure'  ); index as i" 
[travelItem] = "item" [class.adventure] = "i+1">
</app-content-card>

<h2>Honeymoon Tour</h2>
<app-content-card *ngFor = "let item of (travelList | traveltype:'Honeymoon' ); index as i" 
[travelItem] = "item" [class.honeymoon]="i+1">
</app-content-card>

<h2>without type Tour</h2>
<app-content-card *ngFor = "let item of (travelList | traveltype ); index as i" 
[travelItem] = "item" >

</app-content-card>