:host{
    *{
        text-align: center;
    }
    .greentext{
        color: green;
    }
    .redtext{
        color: red;
    }
    .adventure{
        font-size: large;
        color: rgb(10, 18, 231);
        background-color: rgb(195, 142, 95);
        border: 2px dashed rgb(231, 13, 13);

    }
    .honeymoon{
        font-size: large;
        color: rgb(227, 220, 30);;
        background-color: rgb(92, 92, 97);
        border: 2px dotted rgb(198, 231, 13)
    }
}