:host{
    *{
        text-align: center;
    }
    .greentext{
        color: green;
    }
    .redtext{
        color: red;
    }
    .adventure{
        font-size: large;
        color: rgb(55, 239, 10);
        background-color: rgb(0, 0, 0);
        

    }
    .honeymoon{
        font-size: large;
        color: gray;;
        background-color: green;
    }
}